<template name="joinUs">

	<section class="col-11 mx-auto center">
			<h1 class="mvxl" align="center">

				<mark>
					To receive an invitation code, send an email to loveosay95@gmail.com with the subject
					line "Invitation Code" and a short message telling us why you would like to join our
					community!
				</mark><br>

				We would absolutely love to have you on board. We just want to make sure you're coming to
				us for the right reasons.<br>

				<!--
				1. Click on the "Sign in" button above <br>
				2. Click on the "Create Account" button <br><br>
				-->

				We want to hear your input! Change someone's life with your words by creating an account!
				Step into our family today and join us in healing, sharing, and helping others heal in the love of
				our community :D

			</h1> <br>
	</section>

</template>

<template name="register">
	<section class="col-11 mx-auto center">
	    <h2 class="mtl" align="center">Register</h2>
	</section>
	<section class="col-11 mx-auto center">
	    <form class="register">
	        <p>Username: <input type="text" name="username"></p>
	        <p>Password: <input type="password" name="password"></p>
	        <p><input type="submit" value="Register"></p>
	    </form>
	</section>
</template>

<template name="login">
	<section class="col-11 mx-auto center">
    <h2 class="mtl" align="center">Login</h2>
	</section>
	<section class="col-11 mx-auto center">
    <form class="login">
        <p>Username: <input type="text" name="username"></p>
        <p>Password: <input type="password" name="password"></p>
        <p><input type="submit" value="Login"></p>
    </form>
	</section>
</template>
