<template name="landingPage">

	<section class="col-11 mx-auto center mbxl">
			<h1 class="mvxl" align="center">We're just out here trying to promote some love and happiness</h1> <br>
			<a class="btn center phl mhx" href="https://www.reddit.com/r/funny/" type="button">Make Me Smile!</a> <br>
			<a class="btn center phl mhx" href="https://www.reddit.com/r/aww/" type="button">Make Me Awww!</a> <br>
			<a class="btn center phl mhx" href="https://www.reddit.com/r/Showerthoughts/" type="button">Make Me Think!</a> <br>
			<a class="btn center phl mhx" href="https://www.reddit.com/r/offmychest/" type="button">Make Me Feel!</a>
	</section>

</template>
