<template name="landingPage">

<section class="col-11 mx-auto center">

	<h1 class="mvxxl">We're just out here trying to promote some love and happiness</h1>
	<a class="btn center fr phl mhx" href="https://www.reddit.com/r/funny/" type="button">Make Me Smile!</a>
	<a class="btn center fr phl mhx" href="https://www.reddit.com/r/aww/" type="button">Make Me Awww!</a>
	<a class="btn center fr phl mhx" href="https://www.reddit.com/r/Showerthoughts/" type="button">Make Me Think!</a>
	<a class="btn center fr phl mhx" href="https://www.reddit.com/r/offmychest/" type="button">Make Me Feel!</a>

</section>

</template>
