<template name="shoutoutSubmit">
	<div class="yaksSubmit">
		<div class="form-style">
			<div class="container">
					<form class="yaksSubmitForm" >

						<h3>Shoutout someone awesome!</h3>

						<input autofocus="autofocus" type="text" id="postTitle" class=" form-control" name="postTitle" placeholder="Title"/>

						<input  type="text" id="shoutout" class=" form-control" name="shoutout" placeholder="Details"/>

						<input type="submit" value="Submit" class="btn btn-primary">
					</form>
			</div>
		</div>
	</div>
</template>
