<template name="deskItem">
	<div class="col-11 mx-auto mtxl">
		<li class="list-group-item">
			<div class="">
				<p class="break-el f2-l">{{postTitle}}</p>
				<p class="break-el f3-l">{{desk}}</p>
				{{#if currentUser}}
					<a class="btn btn-xs" href="{{pathFor 'deskPage'}}">{{dcommentsCount}} responses</a>
				  <a class="btn pull-right btn-xs no" href="#"><i>report</i></a>
					{{#if isInRole 'admin'}}
						<a class="btn pull-right btn-xs delete" href="#"><i>DELETE</i></a>
						<a class="btn pull-right btn-xs" href="#"> {{score}} </a>
					{{/if}}
				{{else}}
					<a class="btn btn-xs" href="{{pathFor 'deskPage'}}">{{commentsCount}} responses</a>
					<!-- <a class="btn pull-right btn-xs" href="{{pathFor 'landingPage'}}"><i>REPORT</i></a> -->
				{{/if}}
			</div>
		</li>
	</div>
</template>
